.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.block {
  background-color: lightgrey;
  padding: 18px;
  display: inline-flex;
}

.list {
  padding: 25px;
}

.letters {
  display: flex;
  margin: 0 -7px;
  flex-wrap: wrap;
}

.lettersItem {
  min-width: 32px;
  min-height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
  margin: 0 7px;
  color: black;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 10px;

  @media only screen and (max-width: 767px) {
    min-width: 30px;
    min-height: 35px;
    font-size: 20px;
  }

  &Wrapper {
    display: flex;
  }

  &.success {
    background-color: #50c350;
    color: white;
  }

  &.error {
    background-color: #cc483e;
  }

  &.empty {
    background-color: white;
  }
}

.spaceBlock {
  width: 25px;
  position: relative;
  max-height: 37px;

  &:after {
    position: absolute;
    content: '';
    width: 2px;
    height: 100%;
    background-color: white;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  @media only screen and (max-width: 767px) {
    width: 15px;
    max-height: 35px;
  }
}
