.wrapper {
  margin: 0 auto;
}

.answer {
  margin-top: 40px;
  padding-bottom: 60px;
  text-align: center;
  &Title {
    font-size: 80px;
    color: #66bf66;
    display: block;
    font-weight: 500;
  }

  &Translate {
    font-size: 20px;
    letter-spacing: 1px;
  }
}

.field {
  text-align: center;
  input {

    border-radius: 5px;
    padding: 10px 12px;
    border: 2px solid #d8dce4;
    color: var(--main-grey-color);
    font-weight: 600;
    font-size: 22px;
    outline: none;
    opacity: 0.8;
    min-height: 64px;
    padding-right: 35px;
    max-width: 393px;
    width: 100%;
    text-align: center;

    &.success {
      border: solid 2px #66bf66!important;
      color: #66bf66;
    }

    &.error {
      border: solid 2px #cc483e!important;
      color: #cc483e;
    }

  }
}