.wrapper {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(135deg, #9ec4ff 0%, #5b7fd3 100%);
  display: flex;
  align-items: center;
  padding: 2rem;
}

.container {
  max-width: 1224px;
  position: relative;
  height: 768px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 19px 13px 28px rgba(30, 26, 80, 0.1);
  border-radius: 13px;
  background-color: white;
  overflow: hidden;

  @media only screen and (max-width: 555px) {
    height: auto;
  }
}

.wavesImg {
  position: absolute;
  bottom: 0;
}

.auth {
  display: block;
  margin: 0 auto;
  padding-top: 160px;
  max-width: 350px;
  width: 100%;
  font-family: Montserrat;

  @media only screen and (max-width: 555px) {
    padding: 50px 20px 90px;
  }

  &Wrapper {
    &Disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  &Error {
    font-size: 0.750em;
    color: red;
    font-weight: 500;
    text-align: center;
    margin-top: 1.2em;
    display: block;
  }

  &Form {
    padding-top: 2.5rem;
  }

  &Title {
    color: #1e1a50;
    display: block;
    font-size: 1.125rem;
    text-align: center;
    font-weight: 500;

  }
}

.form {
  &Group {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;

    &Error {
      font-size: 0.750em;
      color: red;
      font-weight: 500;
      margin-top: 0.6em;
    }
  }

  &Label {
    font-size: 0.750rem;
    color: #1a2950;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &Input {
    border-radius: 3px;
    border: 2px solid #e8e9ed;
    max-width: 351px;
    width: 100%;
    padding: 1rem 0.750rem;
    opacity: 0.6;
    color: #1a2950;
    font-size: 0.875em;
    font-weight: 500;
    outline: none;
    transition: border .3s;

    &:focus {
      border: 2px solid #328bf3;
      opacity: 1;
    }
  }

  &Submit {
    max-width: 351px;
    width: 100%;
    height: 49px;
    background-color: #328bf3;
    font-size: 1rem;
    color: white;
    font-weight: 500;
    cursor: pointer;
    margin-top: 2em;
    border-radius: 3px;

    &:disabled {
      cursor: default;
      background-color: #d1d4dc;
    }
  }

  &Link {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 0.875em;
    font-weight: 500;
    margin-top: 1rem;

    p {
      color: #767e96;
    }

    a {
      color: #328bf3;
      text-decoration: none;
      padding-left: 5px;
    }
  }
}