.button {
  line-height: 1.2;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all .3s ease;

  &.primary {
    position: relative;
    font-size: 1rem;
    border-radius: 1.5em;
    font-weight: 500;
    background-color: white;
  }
}