@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-200%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes appear-from-inside {
  from  { transform: translateY( -50% ) scale( 0 ); }
  75%   { transform: translateY( -50% ) scale( 1.1 ); }
  to    { transform: translateY( -50% ) scale( 1 ); }
}