.dictionary {
  padding: 30px;

  &__title {
    color: #656565;
    font-size: 22px;
  }

  &__table {
    margin-top: 20px;

    td {
      padding: 15px 20px;
      border-top: 2px solid darkgray;
      min-width: 150px;
      max-width: 320px;
    }

    th {
      padding: 15px 20px;
      text-align: left;
      color: #656565;
    }
  }
}