.filter {
  position: relative;

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 12px;
    border: 2px solid #d8dce4;
    color: var(--main-grey-color);
    font-weight: 600;
    font-size: 14px;
    outline: none;
    opacity: 0.8;
    max-height: 40px;

    @media screen and (max-width: 767px) {
      width: 103px;
      height: 38px;
    }

    span {
      padding-right: 10px;
    }

    svg {
      width: 20px;
      height: 20px;
      fill: darkgray;
    }
  }

  &__dropdown {
    position: absolute;
    width: 200px;
    border: 2px solid #d8dce4;
    border-radius: 4px;
    background-color: #ffffff;
    transform: translateY(100%);
    bottom: -12px;
    right: 0;
    z-index: 1;

  }

  &__item {
    padding: 10px;
    display: block;

    &:not(:last-child) {
      border-bottom: 1px solid #d8dce4;
    }

    input {
      position: absolute;
      z-index: -1;
      opacity: 0;
      margin: 10px 0 0 7px;

      &:checked + .filter__item__text:after {
        opacity: 1;
      }
    }

    &__text {
      font-weight: 500;
      color: var(--main-grey-color);
      position: relative;
      padding: 0 0 0 35px;
      cursor: pointer;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 18px;
        height: 18px;
        border: 1px solid #c6cbd4;
        background: #FFF;
        border-radius: 50%;
      }

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 3px;
        width: 12px;
        height: 12px;
        background: var(--main-blue-color);
        opacity: 0;
        transition: .2s;
        border-radius: 50%;
      }
    }
  }
}