.form__group {
  &__label {
    display: inline-block;
    color: var(--main-grey-color);
    font-weight: 600;
    font-size: 14px;
    text-align: left;
  }

  &--field {
    input {
      width: 100%;
      border-radius: 5px;
      padding: 10px 12px;
      border: 2px solid #d8dce4;
      color: var(--main-grey-color);
      font-weight: 600;
      font-size: 14px;
      outline: none;
      opacity: 0.8;
      max-height: 40px;
      margin-top: 6px;
      margin-bottom: 13px;

      &::placeholder {
        opacity: 0.4;
      }
    }
  }

  &--checkbox {
    display: flex;
    align-items: center;
    margin: 5px 0;

    input {
      margin-right: 10px;
    }
  }
}