.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  overflow: auto;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, .4);
  opacity: 0;
  animation: fadeIn .3s ease forwards;

  &__btn {
    background-color: var(--main-blue-color);
    color: white;
    position: relative;
    font-size: 14px;
    border-radius: 2px;
    padding: 0.8em 2.8em;
    font-weight: 500;
    cursor: pointer;
    min-width: 150px;
    text-transform: capitalize;
  }

  &__inner {
    background-color: white;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 48px;
    border-radius: 6px;
    outline: 0;
    background-clip: padding-box;
    animation: slideDown .3s ease forwards;
  }

  &__header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
      font-size: 1.125em;
      line-height: 1.2;
      text-transform: capitalize;
      font-weight: 600;
      color: var(--main-grey-color);

      strong {
        font-weight: 700;
      }
    }

    &__close {
      display: flex;
      color: var(--main-grey-color);;
      font-size: 1.25em;
      cursor: pointer;
      transition: all .3s ease;

      &:hover {
        color: var(--main-blue-color);
      }
    }
  }

  &__body {
    padding: 15px;

    p {
      margin: 0;
      font-size: 14px;
      font-weight: 500;
      color: var(--main-grey-color);
    }
  }

  &__footer {
    padding: 15px 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    position: relative;
  }

  &__error {
    display: flex;
    align-items: center;
    background: lightpink;
    padding: 0.5em;

    &__text {
      color: deeppink;
      font-size: 14px;
      padding-left: 10px;
      line-height: 1.2;
      color: crimson;

      span {
        cursor: pointer;
        text-decoration: underline;
        font-weight: 700;
      }

    }

    &__icon {
      max-width: 40px;
    }
  }
}