.search {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;

  input {
    width: 90px;
    padding: 0 10px 0 40px;
    height: 41px;
    border: 1px solid #4b74ff;
    color: #4b74ff;
    font-size: 14px;
    outline: none;
    background-image: url('/img/search-icon.svg');
    background-repeat: no-repeat;
    background-position: 12px center;
  }

  ::-webkit-input-placeholder {color: #4b74ff;}
  :-moz-placeholder           {color: #4b74ff;}
  ::-moz-placeholder          {color: #4b74ff;}
  :-ms-input-placeholder      {color: #4b74ff;}
}