.search {
  display: flex;
  justify-content: flex-start;
  margin-right: 10px;

  &--grow {
    flex-grow: 1;
  }

  @media screen and (max-width: 767px) {
    flex-grow: 0;
  }

  &__group {
    width: 100%;
    position: relative;

    &--sm {
      max-width: 80px;
    }

    &--md {
      max-width: 270px;
    }
  }

  &__btn {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 50%;
    padding: 0;
    cursor: pointer;
    transform: translateY(-50%);
    svg {
      fill: darkgray;
      display: flex;
      height: auto;
      width: 17px;
      transition: all .3s;
    }

    &:hover {
      svg {
        fill: var(--main-blue-color);
      }
    }
  }

  input {
    width: 100%;
    border-radius: 5px;
    padding: 10px 12px;
    border: 2px solid #d8dce4;
    color: var(--main-grey-color);
    font-weight: 600;
    font-size: 14px;
    outline: none;
    opacity: 0.8;
    max-height: 40px;
    padding-right: 35px;

    @media screen and (max-width: 767px) {
      width: 103px;
      height: 38px;
    }
  }

  ::-webkit-input-placeholder {color: var(--main-grey-color);}
  :-moz-placeholder           {color: var(--main-grey-color);}
  ::-moz-placeholder          {color: var(--main-grey-color);}
  :-ms-input-placeholder      {color: var(--main-grey-color);}
}